---
# Main Styles
---

@mixin clearblock() {
  display: block;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

$footerHeight: 60px;
$primaryColor: #4584e1;
$pageBackground: #fff;

html {
  position: relative;
  min-height: 100%;
  background: $pageBackground;
}

body {
  margin-bottom: $footerHeight;
  font-size: 18px;
  background: $pageBackground;
  overflow-y: scroll;

  em.intro {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin: 50px 0;
  }

  .intro-paragraph {
    @include clearblock;
    margin: 50px 0;

    ul li {
      margin: 10px 0;
    }

    em {
      font-weight: bold;
    }

    img {
      width: 80%;
    }

    table {
      td {
        padding: 10px;
        text-align: center;
      }

      thead {
        border-bottom: 1px solid #aaa;
      }

      tbody td {
        border: 1px solid #aaa;
        border-radius: 3px;
      }

      img {
        border-radius: 5px;
      }
    }
  }

  main {
    padding: 20px 0;
  }

  h1 {
    clear: both;
  }

  .main-logo {
    width: 500px;
    max-width: 100%;
    margin: 0px auto;
    padding: 50px 0;
    display: block;
  }

  .top-section {
    background: $primaryColor;
    @include clearblock;
    overflow: hidden;
    border-bottom: 1px solid $primaryColor;

    pre {
      margin-bottom: 15px;
      padding: 0;
      border: none;
    }

    .example.container img {
      margin-top: -20px;
    }

    .col {
      float: left;
      width: 33%;
      padding: 0 15px;

      &:first-child {
        padding: 0;
      }
      &:last-child {
        padding: 0;
      }
    }
  }

  .top-section + * {
    position: relative;
    z-index: 1;
  }
}


@media (max-width: 768px) {
  .top-section {
    padding-top: 15px;

    .example.container {
      display: none !important;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  line-height: $footerHeight;
  background-color: darken($primaryColor, 5%);
}

@import "nav.scss";
