---
# Main Styles
---

$footerHeight: 60px;
$primaryColor: #4584e1;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footerHeight;
  font-size: 18px;

  .main-logo {
    width: 500px;
    max-width: 100%;
    margin: 0px auto;
    padding: 50px 0;
    display: block;
  }

  .top-section {
    background: $primaryColor;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  line-height: $footerHeight;
  background-color: darken($primaryColor, 5%);
}

@import "nav.scss";
