---
# Main Styles
---

@mixin clearblock() {
  display: block;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

$footerHeight: 60px;
$primaryColor: #4584e1;
$pageBackground: #fff;

html {
  position: relative;
  min-height: 100%;
  background: $pageBackground;
}

body {
  margin-bottom: $footerHeight;
  font-size: 18px;
  background: $pageBackground;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;

  $madeWithHeight: 40px;
  $madeWithWidth: 200px;
  .made-with {
    width: $madeWithWidth;
    background: $primaryColor;
    line-height: $madeWithHeight;
    border-radius: 3px;
    color: white;
    margin: 20px auto 0px auto;
    opacity: 0.8;
    font-weight: bold;
    text-align: center;
  }

  em.intro {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin: 50px 0;
  }

  .intro-paragraph {
    @include clearblock;
    margin: 50px 0 0;

    & > div:first-child {
      border-right: 1px solid #eee;
    }

    ul {
      padding-left: 1.2em;

      li {
        margin: 10px 0;
      }
    }


    em {
      font-weight: bold;
    }

    img {
      width: 80%;
    }

    .made-with-col {
      text-align: center;
    }

    .col {
      float: left;
      width: 50%;
      text-align: center;

      & > div {
        margin: 10px;
        box-shadow: 0 1px 3px -1px black;
        background: #eee;
        border-radius: 3px;
        padding: 10px;
      }

      a {
        display: block;
        opacity: 0.8;
        color: black;

        img {
          margin-top: 10px;
          max-height: 55px;
          border-radius: 3px;
          width: auto;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  main {
    padding: 20px 0;
  }

  h1 {
    clear: both;
  }

  .main-logo {
    width: 500px;
    max-width: 100%;
    margin: 0px auto;
    padding: 50px 0;
    display: block;
  }

  .top-section {
    background: $primaryColor;
    @include clearblock;
    border-bottom: 1px solid $primaryColor;

    pre {
      margin-bottom: 15px;
      padding: 0;
      border: none;
    }

    .example.container img {
      margin-top: -20px;
      margin-bottom: -50px;
    }

    .col {
      float: left;
      width: 33%;
      padding: 0 15px;

      &:first-child {
        padding: 0;
      }
      &:last-child {
        padding: 0;
      }
    }
  }

  .top-section + * {
    position: relative;
    z-index: 1;
  }
}


@media (max-width: 768px) {
  .top-section {
    padding-top: 15px;

    .example.container {
      display: none !important;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  line-height: $footerHeight;
  background-color: $primaryColor;
  color: white;
}

@import "nav.scss";
