<header class="site-header" role="banner">

  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <a href="{{ "/" | relative_url}}" data-bind="route"><img class="logo" src="{{ "/assets/images/footwork-white.svg" | relative_url}}" alt="Footwork Home"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a class="nav-link" href="/" data-bind="route"><span class="icon-home"></span></a>
          </li>
          <li>
            <a class="nav-link" href="/get-started/" data-bind="route">Get Started</a>
          </li>
          <li>
            <a class="nav-link" href="/documentation/" data-bind="route">Documentation</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/info/" data-bind="route"><span class="glyphicon glyphicon-info-sign"></span></a>
          </li>
          <li>
            <a href="{{ site.project_github }}"><span class="icon-mark-github"></span></a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>
