$logoHeight: 40px;
$navHeight: 60px;
$navColor: $primaryColor;

header {
  .nav {
    .open {
      & > a, & > a:active {
        background: lighten($navColor, 10%) !important;
      }
    }

    a {
      margin: 0;
    }

    a:focus {
      background: transparent;
    }

    a.active {
      background: darken($primaryColor, 5%);
    }
  }

  .navbar {
    min-height: $navHeight;
    background: $navColor;
    border-color: darken($navColor, 20%);
    color: white;
    border: none;
    margin: 0;

    .dropdown {
      .glyphicon {
        margin-left: 10px;
        font-size: 15px;
      }

      a {
        .closed {
          display: inline;
        }
        .open {
          display: none;
        }
      }

      &.open a {
        .open {
          display: inline;
        }
        .closed {
          display: none;
        }
      }
    }

    .dropdown-header {
      color: white;
    }

    .dropdown-menu {
      border: none;
      background: lighten($navColor, 10%);
      color: white;

      .divider {
        background-color: darken($navColor, 10%);
      }

      a {
        color: lighten($navColor, 30%);

        &:hover {
          color: white;
        }
      }
    }

    li > a {
      color: white;

      &:hover {
        background: lighten($navColor, 10%);
      }
    }
  }

  nav {
    min-height: $navHeight;
    position: relative;

    .container {
      position: relative;
    }

    .saying {
      line-height: $navHeight;
      margin-left: 15px;
    }

    .logo {
      height: 40px;
      width: 253px;
      position: relative;
      float: left;
      top: ($navHeight / 2);
      margin-top: -($logoHeight / 2);
      margin-right: 15px;
    }
  }
}

@media (min-width: 768px) {
  header {
    nav {
      .navbar-nav a {
        line-height: $navHeight;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    nav {
      .logo {
        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    nav {
      .saying {
        display: none;
      }

      & > .container {
        width: 100%;

        .navbar-nav + .navbar-nav {
          text-align: right;
        }
      }
    }
  }
}
