$logoHeight: 40px;
$navHeight: 60px;
$navColor: $primaryColor;

header {
  .nav {
    .open {
      & > a, & > a:active {
        background: lighten($navColor, 10%) !important;
      }
    }

    a {
      margin: 0;
    }

    a:focus {
      background: transparent;
    }

    a.active {
      background: darken($primaryColor, 5%);
    }
  }

  .navbar {
    min-height: $navHeight;
    background: $navColor;
    border-color: darken($navColor, 20%);
    color: white;
    border: none;
    margin: 0;
    box-shadow: 0 -10px 30px black;

    li > a {
      color: white;

      &:hover {
        background: lighten($navColor, 10%);
      }
    }
  }

  nav {
    min-height: $navHeight;
    position: relative;

    .container {
      position: relative;
    }

    .saying {
      line-height: $navHeight;
      margin-left: 15px;
    }

    .logo {
      height: 40px;
      width: 253px;
      position: relative;
      float: left;
      top: ($navHeight / 2);
      margin-top: -($logoHeight / 2);
      margin-right: 15px;
    }
  }
}

@media (min-width: 768px) {
  header {
    nav {
      .navbar-nav a {
        line-height: $navHeight;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    nav {
      .logo {
        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    nav {
      .saying {
        display: none;
      }

      & > .container {
        width: 100%;

        .navbar-nav + .navbar-nav {
          text-align: right;
        }
      }
    }
  }
}
